/* ------ Specification ------ */

body {
	font-family: 'Montserrat', sans-serif;
	color: #010101;
	font-size: 15px;
	letter-spacing: 0.02em;
	margin: 0;
	padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.3em;
	margin: 0;
}

h2 {
	font-size: 36px;
	text-align: center;
}

h3 {
	font-size: 32px;
	line-height: 35px;
}

h4 {
	text-transform: none;
	font-size: 30px;
	line-height: 37px;
}

h5 {
	text-transform: none;
	font-size: 24px;
	line-height: 29px;
}

a, a:hover, a:active {
	text-decoration: none;
	outline: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

input, textarea {
	font-family: 'Montserrat', sans-serif;
	color: #2B2B2B;
	font-size: 16px;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 17px 111px 17px 19px;
}

.btn {
	display: block;
	font-family: 'Montserrat', sans-serif;
	background-color: #D52027;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border-radius: 3px;
	border: 1px solid #D52027;
	padding: 15px 25px;
	cursor: pointer;
}

.btn:hover {
	box-shadow: 0px 1px 15px rgba(0,0,0,0.8);
}

.btn:active {
	box-shadow: 0px 1px 15px rgba(0,0,0,0.6) inset;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.align-items-center {
	align-items: center;
}

.container {
	width: 1140px;
	margin: auto;
}

/* ----- Header Section ----- */

.header > .container {
	padding: 23px 0 20px;
}

.header .container {
	justify-content: space-between;
}

.address:before {
	position: absolute;
	top: 5px;
	left: -38px;
	content: '';
	display: block;
	background: url(../img/geo.svg) no-repeat center center;
	width: 17px;
	height: 24px;
}

.address {
	position: relative;
	max-width: 275px;
	font-weight: 500;
	margin-left: 12px;
}

.phone:before {
	position: absolute;
	top: 0px;
	left: -38px;
	content: '';
	display: block;
	background: url(../img/phone.svg) no-repeat center center;
	width: 20px;
	height: 20px;
}

.phone {
	position: relative;
	max-width: 194px;
	font-size: 18px;
	color: #000;
}

.phone:hover {
	text-shadow: 1px 1px 15px rgba(160,160,160,100);
}

.navigation {
	background-color: #010101;
	height: 37px;
	width: 100%;
}

.navigation .phone,
.navigation .btn {
	display: none;
}

.menu__list {
	justify-content: center;
}

.menu__link {
	color: #fff;
	line-height: 37px;
	padding: 0 32px;
}

.menu__link:hover {
	color: #D52027;
}

/* ----- Help Section ----- */

.help {
	background: url(../img/slider.jpg) no-repeat 100% 100% / cover;
	height: 575px;
	width: 100%;
}

.consult {
	background-color: rgba(0, 0, 0, 0.8);
	width: 550px;
	height: 575px;
	padding: 50px 78px 15px;
	box-sizing: border-box;
}

.consult__title {
	text-align: center;
	color: #fff;
}

.consult__title span {
	color: #D52027;
}

.consult__text {
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin: 9px -5px 15px;
}

.consult__input {
	width: 393px;
	margin-bottom: 11px;
}

.send__btn {
	margin: 13px auto 28px;
}

/* ----- Services Section ----- */

.services {
	background-color: #EBEBEB;
	padding: 68px 0 76px;
}

.services-title {
	margin-bottom: 52px;
}

.serv__caption {
	margin-bottom: 35px;
}

.serv {
	flex-wrap: wrap;
}

.serv__block {
	background-color: #fff;
	width: 570px;
	box-sizing: border-box;
	border: 1px solid #EBEBEB;
	padding: 15px 0 16px 14px;
}

.serv__block:hover {
	color: #fff;
	background-color: #D52027;
}

.serv__text {
	font-size: 20px;
	font-weight: 700;
}

.serv__img {
	margin-right: 24px;
}

.serv__link {
	color: #D52027;
	border-bottom: 2px solid #D52027;
	transition: all 0s ease 0s;
	margin-top: 35px;
}

.serv__block:hover .serv__link {
	color: #fff;
	border-bottom: 2px solid #fff;
}

.serv__link:after {
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: '\f105';
	background: #D52027;
	color: #fff;
	border-radius: 3px;
	width: 32px;
	height: 32px;
    box-sizing: border-box;
    padding: 5px 0 0 12px;
	margin: -7px 0 0 25px;
}

.serv__block:hover .serv__link:after {
	background: #fff;
	color: #D52027;
}

/* ----- Work Section ----- */

.works {
	background: url(../img/how-work.jpg) no-repeat center center / cover;
	color: #fff;
	padding: 66px 0 90px;
}

.works-title {
	color: #fff;
	margin-bottom: 70px;
}

.work {
	position: relative;
	flex-wrap: wrap;
	z-index: 1;
}

.work__block {
	position: relative;
	text-align: center;
	width: 350px;
	height: 195px;
	padding: 0 15px;
	z-index: 3;
}

.work__block:nth-child(1) {
	background: url(../img/work-1.svg) no-repeat top center;
}

.work__block:nth-child(2) {
	background: url(../img/work-2.svg) no-repeat top center;
	margin-bottom: 50px;
}

.work__block:nth-child(3) {
	background: url(../img/work-3.svg) no-repeat top center;
}

.work__block:nth-child(6) {
	background: url(../img/work-6.svg) no-repeat top center;
}

.work__block:nth-child(5) {
	background: url(../img/work-5.svg) no-repeat top center;
}

.work__block:nth-child(4) {
	background: url(../img/work-4.svg) no-repeat top center;
}

.work__block:nth-child(1):after,
.work__block:nth-child(2):after {
	display: block;
	position: absolute;
	top: 12%;
	right: -45px;
	content: '';
	background: url(../img/arrow-line.svg) no-repeat 100% 100%;
	width: 110px;
	height: 15px;
}

.work__block:nth-child(4):after,
.work__block:nth-child(5):after {
	display: block;
	position: absolute;
	top: 12%;
	right: -45px;
	content: '';
	background: url(../img/arrow-line.svg) no-repeat 100% 100%;
	width: 110px;
	height: 15px;
	transform: scale(-1, 1)
}

.work__block:nth-child(3):after {
	display: block;
	position: absolute;
	top: 60%;
	right: -45px;
	content: '';
	background: url(../img/arrow-circle.svg) no-repeat 100% 100%;
	width: 30px;
	height: 110px;
}

.work__text {
	font-size: 18px;
	font-weight: 700;
	margin-top: 100px;
}

.work__block:nth-child(3) .work__text {
	padding: 0 30px;
}

.work__block:nth-child(6) .work__text {
	padding: 0 60px;
}

/* ----- News Section ----- */

.news {
	background-color: #EBEBEB;
	text-align: center;
	padding: 55px 0 75px;
}

.news-title {
	margin-bottom: 75px;
}

.main-news {
	text-align: left;
	margin-bottom: 69px;
}

.main-news__block {
	background-color: #fff;
	width: 380px;
	height: 457px !important;
	box-sizing: border-box;
	border: 1px solid #EBEBEB;
	padding: 60px 0 78px 45px;
}

.main-news__caption_first,
.main-news__text_first {
	max-width: 225px;
}

.main-news__caption_second,
.main-news__text_second {
	max-width: 230px;
}

.main-news__caption_third,
.main-news__text_third {
	max-width: 300px;
}

.main-news__block:hover {
	background: url(../img/news-bg.png) no-repeat 100% 100% / cover;
	color: #fff;
}

.main-news__block:hover .main-news__data:before {
	background-color: #fff;
}

.main-news__block:hover .main-news__caption {
	color: #fff;
}

.main-news__caption {
	color: #000;
	margin-bottom: 45px;
}

.main-news__caption_third {
	margin-bottom: 41px;
}

.main-news__caption:hover {
	text-shadow: 0px 1px 15px rgba(0,0,0,0.8);
}

.main-news__text {
	line-height: 25px;
	margin-bottom: 70px;
}

.main-news__data:before {
	display: block;
	content: '';
	position: absolute;
	background-color: #D52027;
	height: 8px;
	width: 167px;
	border-radius: 2px;
	margin-top: -20px;
}

.news-link {
	position: relative;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	border-bottom: 1px solid #000;
}

.news-link:hover {
	text-shadow: 0px 1px 15px rgba(0,0,0,0.5);
}

.news-link:after {
	display: block;
	font-family: "Font Awesome 5 Free";
	content: '\f107';
	position: absolute;
	top: 3px;
	right: -30px;
}

/* ----- Photos Section ----- */

.photos {
	background: url(../img/photos-bg.jpg) no-repeat 100% 100% / cover;
	padding: 67px 0 140px;
}

.photos-title {
	color: #fff;
	margin-bottom: 75px;
}

.gallery {
	height: 290px;
}

.gallery__item {
	position: relative;
	padding: 20px 0;
}

.gallery__img {
	transform: scale(1);
	transition: all 0.5s ease;
}

.gallery__overlay {
	position: absolute;
	top: 0;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 257px;
	opacity: 0;
	transition: all 0.5s ease;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 10px;
	margin-top: 20px;
}

.gallery__item:hover .gallery__overlay {
	opacity: 1;
	height: 257px;
	margin-top: 20px;
}

.gallery__caption {
	max-width: 250px;
	font-size: 18px;
	color: #fff;
}

.gallery .slick-slide {
  transform: scale(1);
  transition: all 0.5s ease;
}

.gallery .slick-slide:hover {
  transform: scale(1.1);
}

/* ----- About Section ----- */

.about {
	padding: 66px 0 76px;
}

.about-title {
	margin-bottom: 85px;
}

.company__wrap {
	position: relative;
	width: 500px;
	margin: 0 50px 0 0;
}

.company__num {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 36px;
	position: absolute;
	top: 300px;
	left: 330px;
	color: #D52027;
}

.company__text {
	font-size: 16px;
	line-height: 29px;
	max-width: 750px;
}

.company__text:nth-child(1) {
	margin-bottom: 30px;
}

.company__text:nth-child(2) {
	margin-bottom: 40px;
}

/* ----- Map Section ----- */

.map {
	position: relative;
	min-height: 575px;
	z-index: 5;
}

.uglich {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.connect {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	width: 550px;
	height: 577px;
	box-sizing: border-box;
	z-index: 20;
	padding: 50px 78px 15px;
}

.connect__title {
	text-align: center;
	color: #fff;
}

.connect__title span {
	color: #D52027;
}

.connect__text {
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin: 15px -25px;
}

.connect__text a {
	color: #fff;
	font-weight: 700;
}

.connect__text a:hover {
	text-shadow: 0px 1px 5px rgba(0,0,0,1);
}

.connect__input {
	width: 393px;
	margin-bottom: 11px;
}

.cloud {
	position: absolute;
	top: 210px;
    left: 61vw;
	background: url(../img/cloud.png) no-repeat 100% 100%;
	width: 379px;
	height: 151px;
	z-index: 20;
	flex-direction: column;
	box-sizing: border-box;
	padding: 17px 0 0 24px;
}

.cloud__text {
	color: #fff;
	line-height: 20px;
	max-width: 350px;
	margin-bottom: 8px;
}

.cloud__tel {
	font-weight: 700;
	color: #fff;
	max-width: 150px;
}

.cloud__tel:hover {
	text-shadow: 0px 1px 5px rgba(0,0,0,1);
}

/* ----- Footer Section ----- */

.footer {
	position: relative;
	background-color: #000;
	padding: 20px 0 60px;
}

.footer .menu__list {
	justify-content: flex-start;
	padding-top: 5px;
}

.footer .menu__link {
	color: rgba(255, 255, 255, 0.4);
	padding: 0;
}

.footer .menu__link:hover {
	color: rgba(213, 32, 39, 1);
}

.footer .menu__item:not(:last-child) {
	margin-right: 65px;
}

.black-btn {
	background-color: transparent;
	margin-left: auto;
}

.black-btn:hover {
	background-color: #D52027;
}

.footer .container {
	justify-content: space-between;
}

.footer .container:first-child {
	margin-bottom: 30px;
}

.address_dark,
.phone_dark {
	color: #fff;
}

.address_dark span {
	color: #525252;
}

/* ----- Services Page | Services Section ----- */

.plates {
	background-color: #fff;
	max-width: 1262px;
	box-sizing: border-box;
	padding: 56px 110px 63px 61px;
	margin: 0 auto 56px;
}

.plates__img {
	margin: 0 35px 35px 0;
}

.plates__caption {
	max-width: 430px;
	margin-top: 18px;
}

.plates__caption:after {
	display: block;
	content: '';
	background-color: #D52027;
	border-radius: 2px;
	width: 116px;
	height: 8px;
	margin: 35px 0 40px;
}

.plates__text {
	line-height: 31px;
}

.plates__text_1 {
	max-width: 580px;
}

.plates__text_2 {
	margin-bottom: 20px;
}

.services .btn {
	margin: auto;
}

/* ------ Arctic Modal ------ */

.modal {
	position: relative;
	background: url(../img/modal.jpg) 100% 100% / cover;
	width: 549px;
	height: 605px;
	box-sizing: border-box;
	padding: 45px 78px 0px;
}

.modal__title {
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}

.modal__text {
	color: #535359;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.modal .btn {
	border: 1px solid #fff;
	background-color: transparent;
	text-shadow: none;
}

.modal .btn:hover {
	color: #D52027;
	border: 1px solid #D52027;
	background-color: #fff;
	text-shadow: none;
}

.modal__close {
	background: url(../img/X.svg) no-repeat 100% 100% / cover;
	position: absolute;
	top: -50px;
	right: -50px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}

/* ----- Slick ----- */

.slick-arrow {
	position: absolute;
	top: 48%;
	font-size: 30px;
	cursor: pointer;
	opacity: 0.5;
}

.slick-arrow:hover {
	opacity: 1;
}

.fa-angle-left {
	left: -50px;
}

.fa-angle-right {
	right: -50px;
}

.arr-light {
	color: #fff;
}

.dots-galery {
  position: absolute;
  bottom: -85px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.dots-galery li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.dots-galery li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 6px;
  height: 6px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.dots-galery li button:hover,
.dots-galery li button:focus {
  outline: none;
}

.dots-galery li button:hover:before,
.dots-galery li button:focus:before {
  opacity: 1;
}

.dots-galery li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D52027;
  border-radius: 2px;
  width: 6px;
  height: 6px;
  content: '';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.dots-galery li.slick-active button:before {
  width: 10px;
  height: 10px;
  opacity: .75;
  color: black;
  margin: -2px 0 0 -2px;
}

.arr-red-right {
	color: #D52027;
	top: 305px;
	right: 0px;
}

.arr-red-left {
	color: #D52027;
	top: 305px;
	left: 200px;
}

/* ----- Sticky ----- */

.is-sticky #navigator {
	z-index: 9999 !important;
	height: 37px;
}

.is-sticky #navigator .container {
	transition: all 0.5s ease;
}

.is-sticky #navigator .menu__list {
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.is-sticky #navigator .logo {
	display: block;
}

.is-sticky #navigator .phone {
	display: block;
	line-height: 37px;
}

.is-sticky #navigator .phone:before {
	top: 7px;
}